.nav-list {
  list-style: none;

  display: flex;
  justify-content: center;
}
.nav-list li {
  font-size: 2rem;
  margin: 0.5rem;
}

.nav-list a {
  text-decoration: none;
  color: inherit;
}

/* 📱 CELULAR */
@media (max-width: 768px) {
  .nav-list {
    flex-direction: column;
    gap: 0.5rem;
  }

  .nav-list li {
    font-size: 1.4rem;
  }
}